html, body {
	position: absolute;
/*
	max-width: 640px;
	max-height: 480px;
*/
	width: 100%;
	height: 100%;
	margin: 0px auto;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	overflow:hidden;
}
*:focus {outline: none;}

img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.loading {
	position: absolute;
	background: #e4e4e4;
	width: 100%;
	height: 100%;
	z-index: 999;
	left: 0px;
	top: 0px;
/*	display: none;*/
}

.loadbox {
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	width: 140px;
	height: 140px;
	margin: auto;
}

.loadbg {
	position: absolute;
	z-index: 1000;
	width: 140px;
	height: 140px;
	background: url(../img/loadbg.png) no-repeat;
	background-size: 100%;
	-webkit-animation: load 1s ease-in-out infinite both;
	-moz-animation: load 1s ease-in-out infinite both;
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(360deg)
	}

	100% {
		-webkit-transform: rotate(0)
	}
}

@-moz-keyframes load {
	0% {
		-moz-transform: rotate(360deg)
	}

	100% {
		-moz-transform: rotate(0)
	}
}

.swiper-container {
	position: absolute;
    width: 100%;
    height: 100%;
}

/*
.swiper-wrapper, .swiper-slide {
	position: absolute;
    width: 100%;
    height: 100%;
}
*/

.arrow-up {
    background: none;
    height: auto;
    width: 25px;
    position: absolute;
    left: 50%;
    top: 92%;
    margin-left: -12px;
    z-index: 99;
}

.pt-page-moveIconDown {
    -webkit-animation: moveIconDown ease 1.5s both infinite;
    animation: moveIconDown ease 1.5s both infinite;
}

@-webkit-keyframes moveIconDown {
    0% {
        -webkit-transform: translateY(-2em);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(0%);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(2em);
        opacity: 0;
    }
}

@keyframes moveIconDown {
    0% {
        -webkit-transform: translateY(-2em);
        transform: translateY(-2em);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(2em);
        transform: translateY(2em);
        opacity: 0;
    }
}

.pt-page-moveIconUp {
    -webkit-animation: moveIconUp ease 1.5s both infinite;
    animation: moveIconUp ease 1.5s both infinite;
}

@-webkit-keyframes moveIconUp {
    0% {
        -webkit-transform: translateY(3em);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(0%);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-3em);
        opacity: 0;
    }
}

@keyframes moveIconUp {
    0% {
        -webkit-transform: translateY(3em);
        transform: translateY(3em);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-3em);
        transform: translateY(-3em);
        opacity: 0;
    }
}

.hiflash{
    -webkit-animation: fla ease 2s both infinite;
    animation: fla ease 2s both infinite;
}

@-webkit-keyframes fla{
    0%{
        opacity:0;
    }
    25%{
        opacity:0.5;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity:0.5;
    }
    100%{
        opacity:0.2;
    }
}

@keyframes fla{
    0%{
        opacity:0;
    }
    25%{
        opacity:0.5;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity:0.5;
    }
    100%{
        opacity:0.2;
    }
}

.moveIconRight {
    -webkit-animation: moveIconRight ease 1.5s both infinite;
    animation: moveIconRight ease 1.5s both infinite;
}


@-webkit-keyframes moveIconRight {
    0% {
        -webkit-transform: translateX(-2em);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(2em);
        opacity: 0;
    }
}

@keyframes moveIconRight {
    0% {
        -webkit-transform: translateX(-2em);
        transform: translateX(-2em);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(2em);
        transform: translateX(2em);
        opacity: 0;
    }
}


.show_hide {
    animation: show_hide 1s linear infinite alternate;
    -webkit-animation: show_hide 1s linear infinite alternate;
}

@keyframes show_hide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes show_hide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slowHover {
	 animation: slowHover 3s linear infinite alternate;
    -webkit-animation: slowHover 3s linear infinite alternate;
}

@keyframes slowHover {
	0%, 50%, 100% {
		transform: translate(0px,0px);
		-webkit-transform: translate(0px,0px);
	}
	25% {
		transform: translate(-10px,-3px);
		-webkit-transform: translate(-10px,-3px);
	}
	75% {
		transform: translate(10px,-3px);
		-webkit-transform: translate(10px,-3px);
	}
}

@-webkit-keyframes slowHover {
	0%, 50%, 100% {
		transform: translate(0px,0px);
		-webkit-transform: translate(0px,0px);
	}
	25% {
		transform: translate(-10px,-3px);
		-webkit-transform: translate(-10px,-3px);
	}
	75% {
		transform: translate(10px,-3px);
		-webkit-transform: translate(10px,-3px);
	}
}

.slowFloat {
	 animation: slowFloat 5s linear infinite alternate;
    -webkit-animation: slowFloat 5s linear infinite alternate;
}

@keyframes slowFloat {
	0%, 50%, 100% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	25% {
		transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
	}
	75% {
		transform: rotate(3deg));
		-webkit-transform: rotate(3deg);
	}
}

@-webkit-keyframes slowFloat {
	0%, 50%, 100% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	25% {
		transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
	}
	75% {
		transform: rotate(3deg));
		-webkit-transform: rotate(3deg);
	}
}






