
#pClock {
	position: absolute;
	right: 8%;
	top: 1%;
	width: 24%;
	height: 5%;
	z-index: 88;
	display: none;
}

#pClock span {
	position: absolute;
	top: 16%;
	left: 22%;
	width: 100%;
	height: 100%;
/*	transform: translate(-30%,-35%);*/
	display: block;
	font:120% arial,sans-serif;
/*
	display: flex;
	justify-content: center;
	align-items: center;
*/
	color: #f7f7e2
}

#pClockText {
	min-width: 0;
}

#pright, #pwrong, #ptmout, #pgreat, #pcheer, #prollagain, #pnewuser, #bgMusic {
	position: absolute;
	z-index: 88;
	display: none;
}

#prollagain, #pnewuser {
	pointer-events: none;
}

/*
#pnewuser{
	position: absolute;
	z-index: 88;
	display: block;
}
*/

.stNum {
	position: relative;
	width: 10%;
	height: 80%;
	margin: 0%;
}

.bta {
	position: absolute;
	width: 12%;
	height: 6%;
}

.btb {
	position: absolute;
	width: 12%;
	height: 6%;
}

.btc {
	position: absolute;
	width: 12%;
	height: 6%;
}