.p2BgBox {
	position: absolute;
/*
	top: 15.7%;
	left: 10.7%;
*/
	width: 13.3%;
	height: 8.3%;
	transform: translate(0%,-15%)
}

#p2Box01 {
	top:  15.7%;
	left: 10.7%;
}
#p2Box02 {
	top:  27.2%;
	left: 10.7%;
}
#p2Box03 {
	top:  38.5%;
	left: 10.7%;
}
#p2Box04{
	top:  38.5%;
	left: 32.2%;
}
#p2Box05{
	top:  50.0%;
	left: 32.2%;
}
#p2Box06{
	top:  61.4%;
	left: 32.2%;
}
#p2Box07{
	top:  61.4%;
	left: 10.7%;
}
#p2Box08{
	top:  72.7%;
	left: 10.7%;
}
#p2Box09{
	top:  72.7%;
	left: 32.2%;
}
#p2Box10{
	top:  72.7%;
	left: 54.8%;
}
#p2Box11{
	top:  61.4%;
	left: 54.8%;
}
#p2Box12{
	top:  61.4%;
	left: 77.1%;
}
#p2Box13{
	top:  50.0%;
	left: 77.1%;
}
#p2Box14{
	top:  50.0%;
	left: 54.8%;
}
#p2Box15{
	top:  38.5%;
	left: 54.8%;
}
#p2Box16{
	top:  38.5%;
	left: 77.1%;
}
#p2Box17{
	top:  27.2%;
	left: 77.1%;
}
#p2Box18{
	top:  15.7%;
	left: 77.1%;
}
#p2Box19{
	top:  15.7%;
	left: 54.8%;
}
#p2Box20{
	top:  15.7%;
	left: 32.2%;
}





#p2MoveCat {
	position: absolute;
	top: 15.7%;
	left: 10.7%;
	width: 13.3%;
	height: 8.3%;
	transform: translate(0,-60%);
	-webkit-transform: translate(0,-60%);
	transition: top 0.3s, left 0.3s;
	-webkit-transition: top 0.3s, left 0.3s;
}

#p2Roll {
	position: absolute;
/*	z-index: 88;*/
	display: run-in;
	top: 73.5%;
	left: 75.5%;
	width: 19%;
	height: 10.5%;
/*	display: none;*/
/*	pointer-events: none;*/
}

#p2NextPage {
	display: none;
}

#p2Next {
	position: absolute;
	top: 57%;
	left: 23%;
	width: 54%;
	height: 28%;
}

#p2 .stBar {
	position: absolute;
	top: 19%;
	left: 63%;
	width: 90%;
	height: 7%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
/*	display: block;*/
/*	display: -webkit-flex;*/
/*
    justify-content: center;
	align-items: center;
*/
}

#p2 .stBar {
	display: none;
/*	display: -webkit-none;*/
}

#q200BG, #q211, #q212, #q213, #q214, #q215, #q221, #q222, #q223, #q224, #q225, #q231, #q232, #q233, #q234, #q235, #q241, #q242, #q243, #q244, #q245 {
	display: none;
}



#q211 .bta {
	top: 49.5%;
	left: 9.8%;
}

#q211 .btb {
	top: 58.6%;
	left: 9.8%;
}

#q211 .btc {
	top: 67.7%;
	left: 9.8%;
}

#q212 .bta {
	top: 40.6%;
	left: 10.2%;
}

#q212 .btb {
	top: 49.5%;
	left: 10.2%;
}

#q212 .btc {
	top: 57.3%;
	left: 10.2%;
}

#q213 .bta {
	top: 45.5%;
	left: 9.1%;
}

#q213 .btb {
	top: 54.3%;
	left: 9.1%;
}

#q213 .btc {
	top: 63.4%;
	left: 9.1%;
}

#q214 .bta {
	top: 47.8%;
	left: 5%;
}

#q214 .btb {
	top: 47.8%;
	left: 38.0%;
}

#q214 .btc {
	top: 47.8%;
	left: 68.5%;
}

#q215 .bta {
	top: 55.9%;
	left: 5.8%;
}

#q215 .btb {
	top: 55.9%;
	left: 37.5%;
}

#q215 .btc {
	top: 55.9%;
	left: 69.5%;
}

/*
#q221 {
	display: none;
}
*/

#q221 .bta {
	top: 41%;
	left: 7.9%;
}

#q221 .btb {
	top: 51.8%;
	left: 7.9%;
}

#q221 .btc {
	top: 61.7%;
	left: 7.9%;
}


#q222 .bta {
	top: 41.3%;
	left: 8.9%;
}

#q222 .btb {
	top: 49.8%;
	left: 8.9%;
}

#q222 .btc {
	top: 57.7%;
	left: 8.9%;
}

#q223 .bta {
	top: 47%;
	left: 8.9%;
}

#q223 .btb {
	top: 56.8%;
	left: 8.9%;
}

#q223 .btc {
	top: 66.7%;
	left: 8.9%;
}

#q224 .bta {
	top: 51%;
	left: 8.9%;
}

#q224 .btb {
	top: 59.4%;
	left: 8.9%;
}

#q224 .btc {
	top: 67.7%;
	left: 8.9%;
}

#q225 .bta {
	top: 49%;
	left: 8.9%;
}

#q225 .btb {
	top: 57.4%;
	left: 8.9%;
}

#q225 .btc {
	top: 65.7%;
	left: 8.9%;
}



#q231 .bta {
	top: 53.6%;
	left: 12.2%;
}

#q231 .btb {
	top: 53.6%;
	left: 42.3%;
}

#q231 .btc {
	top: 53.6%;
	left: 72%;
}

#q232 .bta {
	top: 40.8%;
	left: 5%;
}

#q232 .btb {
	top: 49.4%;
	left: 5%;
}

#q232 .btc {
	top: 57.5%;
	left: 5%;
}

#q233 .bta {
	top: 45.5%;
	left: 7.5%;
}

#q233 .btb {
	top: 55.1%;
	left: 7.5%;
}

#q233 .btc {
	top: 64.5%;
	left: 7.5%;
}

#q234 .bta {
	top: 50.5%;
	left: 7.5%;
}

#q234 .btb {
	top: 59.1%;
	left: 7.5%;
}

#q234 .btc {
	top: 67.5%;
	left: 7.5%;
}

#q235 .bta {
	top: 48%;
	left: 4%;
}

#q235 .btb {
	top: 48%;
	left: 37.6%;
}

#q235 .btc {
	top:48%;
	left: 69%;
}

#q241 .bta {
	top: 45.5%;
	left: 7.5%;
}

#q241 .btb {
	top: 54.9%;
	left: 7.5%;
}

#q241 .btc {
	top: 64.5%;
	left: 7.5%;
}

#q242 .bta {
	top: 41.4%;
	left: 5.7%;
}

#q242 .btb {
	top: 51.2%;
	left: 5.7%;
}

#q242 .btc {
	top: 61.2%;
	left: 5.7%;
}

#q243 .bta {
	top: 45.5%;
	left: 7.5%;
}

#q243 .btb {
	top: 54.9%;
	left: 7.5%;
}

#q243 .btc {
	top: 64.2%;
	left: 7.5%;
}

#q244 .bta {
	top: 42.5%;
	left: 8.5%;
}

#q244 .btb {
	top: 51.5%;
	left: 8.5%;
}

#q244 .btc {
	top: 60.2%;
	left: 8.5%;
}

#q245 .bta {
	top: 46.5%;
	left: 7.5%;
}

#q245 .btb {
	top: 55.0%;
	left: 7.5%;
}

#q245 .btc {
	top: 63.5%;
	left: 7.5%;
}