#editArea {
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
/*	max-width: 320px;*/
/*	max-height: 480px;*/
	margin: auto;
	background: #00ffba;
}

#editTopBar {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
	height: 6%;
	background: #ffff00;
}

.btEditTop {
	width: 12%;
	height: 100%;
	float: right;
	margin: 0em 0em 0em 0.25em;
}

#EditPage {
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 84%;
	height: 92%;
	background: #ff8900;
	overflow: hidden;
}

#EditLeftBar {
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 14%;
	height: 92%;
	background: #ffff00;
}

.btEditLeft {
	font-size: 14px;
	width: 100%;
	height: 7%;
	float: right;
	margin: 0em 0em 0.5em 0em;
}

.editImg {
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 100%;
	height: 50%;
	background: #00ff00;
	opacity: 0.5;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
}

.editText {
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 100%;
	height: 50%;
	background: #ff0000;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
}