#rightTabs ul {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 5%;
	margin: 0px;
	padding: 0px;
}

#rightTabs ul li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	float: left;
}

#TheAttr,#TheEffect,#TheEvent,#ThePage {
	position: absolute;
	top: 5%;
	left: 0%;
	width: 100%;
	height: 95%;
	background: #def0f0;
	margin: 0px;
	padding: 0px 0px 0px 2px;
}

#TheEffect {
	background: #00ceff;
}

#TheEvent {
	background: #9dff00;
}


#ThePage {
	background: #0089ff;
}










#ImgAttrCard {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
/*	height: 50%;*/
}

#ImgAttrCard tr th {
	position: relative;
	padding: 0.75em 0em 0em 0em;
	background: #00ff00;
}

table td {
	position: relative;
	top: 0%;
	left: 0%;
	width: 28%;
	height: 100%;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.15em 0.25em;
}

.seleTDLR {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	margin: 0em;
	padding: 0.2em;
	direction: rtl;
}

.pixelInput {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	margin: 0em;
	padding: 0.25em;
}

.percentInput {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	margin: 0em;
	padding: 0.25em;
}

.colorInput {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 80%;
	margin: 0.25em;
	padding: 0em;
}

.twoCol {
/*	background: #ff0000;*/
	position: relative;
	width: 60%;
}

.threeCol {
	background: #00ffd8;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10em 0px;
}

.otherText {
	position: absolute;
	top: 1%;
	left: 1%;
	width: 96%;
	height: 96%;
}











#ImgEffectCard {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
/*	background: #00ff00;*/
}

.lbImgEffect {
	position: relative;
	left: 0%;
	top: 0%;
	width: 25%;
	background: #00ff00;
	margin: 1em 0em 0em 0em;
	padding: 0.45em;
	display: inline-block;
}

.aniPreview {
	position: relative;
	width: 30%;
	padding: 0.45em;
	background: #EDEDED;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.aniPreview:active {
	background: #007FFF;
	border-bottom-color: #0000ff;
}

#ImgEffectCard .aniTime {
	position: relative;
	width: 50%;
	height: 100%;
	padding: 0.35em 0em 0.35em 1em;
	max-width: 147px;
}

#ImgEffectCard .aniName,.aniSpeed,.aniCount {
	position: relative;
	width: 50%;
	height: 100%;
	padding: 0.35em 1em 0.35em 1em;
	max-width: 167px;
}













